@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comic Sans MS';
}
.top {
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 3rem 0;
  font-family: 'Comic Sans MS';
}

.font {
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 3rem 0;
  font-family: 'Comic Sans MS';
}

.font_size {
  font-size: 3ch;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 3rem 0;
  font-family: 'Comic Sans MS';
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  color: rgb(0, 0, 0);
}

.card {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #71648a;
  border-radius: 24px;
}

.card img {
  width: 75%;
  height: 25%;
}

.box-price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 1rem 0;
}

.button {
  font-weight: bold;
  background-color: #47e38a;
  border: none;
  color: #ffffff;
  width: 90px;
  padding: 10px 18px;
  border-radius: 3px;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: 'Comic Sans MS';
  border-radius: 12px;
}

table {
  font-family: "Comic Sans MS";
  border-collapse: collapse;
  width: 83%;
  margin-bottom: 5rem;
  text-align: center;
}

th {
  background-color: #71648a;
  color: #fff;
}

td,
th {
  text-align: center;
  padding: 8px;
  font-size: 1.5rem;
}

tr:nth-child(even) {
  background-color: #ebe7fb;
}